
body {
  padding-top: 5rem;
}

.wrapperino {
  margin: 0 auto;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  // background-color: #FF0099;
}

.bordered { border: 1px solid black; margin: 0 auto; width: auto; display: inline-block; min-height: 180px; }

.imageCon { display: inline-block; margin: 5px 15px 25px 15px; width: auto; }

.textCon { display: inline-block; padding: 5px 15px; margin: 10px auto 0 auto; width: auto; }

.nationality {text-transform: capitalize; }